<section class="container">
  <h2>{{title}}</h2>


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="opensidenav" (click)="openNav()">
      <i class="fa fa-bars"></i>
    </button>
  </nav>

  <div id="sidenav" class="sidenav">
    <button id="closesidenav" (click)="closeNav()">
      <i class="fa fa-window-close"></i>
    </button>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="dropdown">
        <button class="usersbtn" (click)="collapse('users-content')">Users
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="users-content">
          <a routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active">Show</a>
          <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
        </div>
      </li>
      <li class="dropdown">
        <button class="usersbtn" (click)="collapse('furniture-content')">Мягкая мебель
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="furniture-content">
          <a routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active">Диваны</a>
          <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Кровати</a>
          <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Кресла</a>
        </div>
      </li>
      <li class="dropdown">
        <button class="usersbtn" (click)="collapse('cabinet-furniture-content')">Корпусная мебель
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="cabinet-furniture-content">
          <a routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active">Стенки</a>
          <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Кухни</a>
          <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Шкафы</a>
        </div>
      </li>
    </ul>
  </div>

</section>
<div id="main">
  <section>
    <router-outlet></router-outlet>
  </section>
</div>

